# requirements.txt
# -----------------------------
# Meeting Manager Django Project
# Python 3.13 compatible
# -----------------------------

Django==5.2.7
tzdata==2025.2
sqlparse==0.5.3

# For pagination and search filtering 
django-filter==24.3

# If using Bootstrap datetime widgets later
django-bootstrap4==24.3

# -----------------------------
# End of requirements.txt
# -----------------------------
